<div>
  <a href="https://forms.gle/bjQr5kkPrV1SNm1k8">
    <img src="/author/curso-react-direto-ao-ponto.png">
  </a>
  <p>Você quer aprender a criar aplicativos web dinâmicos e atrativos com ReactJS?</p>
  <p>
    Estamos lançando um curso perfeito para você! 
    Com nosso treinamento prático e de fácil compreensão, você estará criando aplicativos incríveis em nenhum momento. 
    Não importa se você é um iniciante completo ou já possui conhecimento básico de desenvolvimento web, nosso curso é adaptável para atender a todos os níveis de habilidade.
    </p>
    <p>
      Se interessou? Não perca esta oportunidade de aprender uma das ferramentas de desenvolvimento web mais populares e poderosas do mercado. 
      Inscreva-se agora e junte-se à lista de espera para nosso curso "React direto ao ponto", autor do blog Back&Front!</p>
    </p>
</div>

<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>